---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { getHeaderData, getFooterData } from '~/navigation';
import { getLocaleFromUrl } from '~/i18n';

import type { MetaData } from '~/types';
import type { Locale } from '~/i18n';

export interface Props {
  metadata?: MetaData;
  locale?: Locale;
}

const { metadata, locale: localeProp } = Astro.props;
const locale = localeProp ?? getLocaleFromUrl(Astro.url);
const headerData = getHeaderData(locale);
const footerData = getFooterData(locale);
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} locale={locale} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
